loops - repeating the code 
while- still condition satisfy 
for - each value in sequence
for loop - for each value in sequence repeating the code 
sequence - str'', list[] , tuple(), set{} , range()
syntax of for loop - for variable_name in sequence 
                      block of code

* syntax of for loop
* for variable_name in sequence
 * block of code

While loop

In [2]:
l=[1,2,3,4]
i = 1
while i in l:
    print(i)
    i=i+1

1
2
3
4

For Loop

In [3]:
l=[1,2,3,4]    #sequence
i = 1
for i in l:
    print(i)
    i=i+1

1
2
3
4

In [4]:
for i in range(5): #0,1,2,3,4,5
    print(i)

0
1
2
3
4

In [5]:
a = "durga"
for s in a:
    print(s)

d
u
r
g
a

In [6]:
t = [1,2,3,4]
for i in t:
    print(i)

1
2
3
4

In [7]:
Dict = {1:25, "a":90}     #Dctinary - values(), keys(), items()
for i in Dict.values():
    print(i)

25
90

In [8]:
l= {10,20,30,40,10,10}
for i in l:
    l.discard(10)
    print(l)

{40, 20, 30}

RuntimeError: Set changed size during iteration

write a program that gives even number in a list

In [10]:
l=[10,11,3,4]
for i in l:
    if i==11:
      print("ds")
print("python")

ds
python

In [9]:
l=[4,9,14,16,21,29,33]
even_list=[]
for i in l:
    if i%2==0:
        even_list.append(i)
        
print(even_list)

[4, 14, 16]

write a program that gives even numbers and odd numbers in a list

write a program that gives sum of a even numbers in a list

In [17]:
l=[4,9,14,16,21,29,33]
even_list=[]
odd_list=[]
for i in l:
    if i%2==0:
        even_list.append(i)
    else:
        odd_list.append(i)
        
print(even_list,odd_list)

[4, 14, 16] [9, 21, 29, 33]

write a program that gives sum of even numbers and the sum of odd numbers

In [54]:
l=[4,9,14,16,21,29,33]
even_list=[]
odd_list=[]
odd_sum=0
even_sum=0
for i in l:
    if i%2==0:
        even_list.append(i)
        even_sum=even_sum+i
    else:
        odd_list.append(i)
        odd_sum=odd_sum+i

print(even_list, "and their sum",even_sum, odd_list,"and their sum",odd_sum)

[4, 14, 16] and their sum 34 [9, 21, 29, 33] and their sum 92

write a multiplication table using dor loop

In [56]:
n = int(input("which multiplcation table you want?:"))
s = int(input("Enter from which number you want to start?:"))
e = int(input("enter number where you want to end"))
for i in range (s,e):
    print(n,"*",i, "=",n*i)

which multiplcation table you want?: 8
Enter from which number you want to start?: 1
enter number where you want to end 10

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

In [57]:
#break

In [62]:
l=[1,2,3,4,5]
for i in l:
    if i==3:
        break
    print(i)

1
2

In [63]:
for i in range(6):
    if i==3:
        break
    print(i)

0
1
2

ask user to enter the values using for loop break it when the sum is greater than 50

In [89]:
sum=0
for i in range(100):
    n=int(input("enter the number"))
    sum = sum+n
    if sum>=50:
        break
print(sum)

enter the number 45
enter the number 56

101

In [90]:
#continue

In [100]:
l = [1,2,3,4,5]
for i in l:
    if i==3:
        continue
    print(i)

1
2
4
5

In [101]:
l = [1,2,3,4,5]
for i in l:
    if i==3:
        break
    print(i)
else:
    print("loop executed without break")

1
2

In [102]:
for i in range(2):
    print("i=",i)
    if i==2:
        break
else:
    print("out of block")

i= 0
i= 1
out of block

### Nested for loops|

In [103]:
for i in [1,2,3,4]:
    for j in range(4):
        print(i,j)

1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3
3 0
3 1
3 2
3 3
4 0
4 1
4 2
4 3

In [105]:
for i in range(3):
    for j in range(2):
        print("i=",i,"j=",j)
        if j==1:
            break

i= 0 j= 0
i= 0 j= 1
i= 1 j= 0
i= 1 j= 1
i= 2 j= 0
i= 2 j= 1

sum of digits of your phone number untill you get single digit

In [106]:
p=input("enter you mobile number:")
for i in range(10):
    sum=sum+int(p[i])
    if sum>=10:
        s=str(sum)
        t=int(s[0])+int(s[1])
        if t>=10:
            s=str(t)
            t=int(s[0])+int(s[1])

print('sum:',t)

enter you mobile number: 8374362841

sum: 5

In [ ]:
ok