# Input Task 
### Q.1

In [11]:
a = int(float(input(" Enter the first number :")))
b = int(float(input(" Enter the second number :")))     
print(" the sum of given numbers :", a+b)

 Enter the first number : 123.890
 Enter the second number : 123

 the sum of given numbers : 246

### Q.2

In [12]:
d= float(input("enter the float number:"))
print(d)

enter the float number: 345.6

345.6

### Q3

In [16]:
Age = (int(input("Enter Your Age: ")))
print(" More", 100 - Age, "years left to reach 100", "!")

Enter Your Age:  25

 More 75 years left to reach 100 !

### Q4

In [20]:
Name1 = str(input(" Enter Your First Name :"))
Name2 = str(input(" Enter Your Second Name :"))
print (" Here Is your Full Name :", Name1, "" + Name2, "!")

 Enter Your First Name : Durga
 Enter Your Second Name : Bhavani

 Here Is your Full Name : Durga Bhavani !

### Q5

In [21]:
r = float(input("Enter the radius:"))
print(" Aria Of a cercle :", 3.14*r*r)

Enter the radius: 3

 Aria Of a cercle : 28.259999999999998

### Q6

In [28]:
Num = int(input("Enter a Number:"))
print("Your number multiplied number with 2 is:", 2 * Num)    #taking input with defailt is string

Enter a Number: 5

Your number multiplied number with 2 is: 10

### Q7

In [37]:
x, y, z = input()

print( x + y * z)

 3+5*2

ValueError: too many values to unpack (expected 3)

### Q8

In [39]:
Str = int(input(" Enter a Number:"))
print(Str + 10)

 Enter a Number: 10

20

### Q9

In [46]:
K = int(float(input(" Enter a value :")))
print("int value of given number:", K, "and", "float value of given number:", float(K))

 Enter a value : 7.0

int value of given number: 7 and float value of given number: 7.0

### Q10

In [49]:
Name = input(" Enter Your Name:")
print("Welcome,", Name, "!")

 Enter Your Name: Durga Yellaram

Welcome, Durga Yellaram !