#### Sets and its methods

#### Sets

In [1]:
#Sets can be used to mathematical set operations like union, intersection, symmetric difference etc.,

In [3]:
set_var=set()
print(set_var)

set()

In [4]:
# aset is an unordered collection of items 
# set is difined as values separated by comma inside braces {}

In [5]:
s = {10,30,20,40,5}
print(s)

{20, 5, 40, 10, 30}

In [6]:
# Every item is unique (no duplicates ) ---- ?> it will automatically removes duplicates while doing operations

In [7]:
s = {10,20,30,40,30,30,10,30}
print(s)

{40, 10, 20, 30}

In [8]:
len(s)

4

In [9]:
# Sets doesnt support indexing because it is unordered collection of items

#### Set Methods

##### Set.add() --------->This methods adds an element  to the set, if element already exists in the set it will simply ignore return nothing

In [11]:
s = {1,2,3,4,}
s.add(5)
print(s)

{1, 2, 3, 4, 5}

##### Set.update() ---------> This method updates the set with another set or any iterable

In [16]:
s1 = {1,2,3}
s2 = {1,2,3,4,5}
s1.update(['x', 'y','z'])
print(s1)

{'z', 1, 2, 3, 'x', 'y'}

##### Set.Discard() --------> This method removes the specified element from the set if elememnt does not exist in the set it willl ignire (nothing returns

In [18]:
s = {1,2,3,4,5}
s.discard(3)
print(s)

{1, 2, 4, 5}

In [20]:
s.discard(7)
print(s)          # nothing will happen

{1, 2, 4, 5}

##### Set.remove() -------> This method removes the specified element from the set if element does not exist in the set it will through the error

In [22]:
s= {1,2,3}
s.remove(2)
print(s)

{1, 3}

In [23]:
s.remove(7)
print(s)        # will through the error

KeyError: 7

##### Set.clear() -----> This methos will remove all the elements from the set

In [25]:
s.clear()
print(s)

set()

In [26]:
del s # Deletes the complete variable 
print(s)

NameError: name 's' is not defined

''' Set.copy() ------> This method returns the shallow copy of set 
    Changes to the copied set doesnt affect the original set '''

In [32]:
s1 = {1,2,3,}
s2=s1.copy()
s2.add(4)
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3, 4}

##### Set.union() ----> This method returns a new set with elemts from both sets

In [33]:
A= {2,3,4,}
B = {4,5,6               # removes duplicates 
A.union(B)

{2, 3, 4, 5, 6}

##### Set.intersection()-----> This method returns a new set with elements that are common to all sets (returns only which are common )

In [36]:
A= {2,3,4,5}
B = {4,5,6,3}
A.intersection(B)

{3, 4, 5}

##### Set.isdisjoint() ---> Returns True if two sets have no intersection else returns fals

In [41]:
s1={1,2,3}
s2={4,5,6}
s3={7,5,9}
s=s1.isdisjoint(s2)
print(s)
s=s2.isdisjoint(s3)
print(s)

True
False

##### Set.symmetric_difference()-----> This mothod returns new set with elments that are either of the sets but not in both(not commonelements)
##### (A union B) - (A intersection B)

In [43]:
s1={1,2,3}
s2={2,3,4}
s1.symmetric_difference(s2)

{1, 4}

##### Set.difference()-------> This method returns a new set with elements in the sets that are in the other specified sets

In [44]:
s1={1,2,3}
s2={2,3,4}
print(s1-s2)
print(s2-s1)

{1}
{4}

##### Set.issubset()---------> method returns True if all elements of first set are available in second set else returns False

In [48]:
s1={3,4,5}
s2={3,4,5,6}
A=s1.issubset(s2)
print(A)
A=s2.issubset(s1)
print(A)

True
False

##### Set.issupersset()----->method returns true if all elements of second set are available in first set else return False

In [49]:
s1={3,4,5}
s2={3,4,5,6}
A=s1.issuperset(s2)
print(A)
A=s2.issuperset(s1)
print(A)

False
True