####Tuple & its methods

###Tuple

In [ ]:
# tuple is similar to list except it is immutable which means we cannot change the elements elements of a tuple once we assigned 
# when we do not want to change the data over time tuple is preferred data type 
# iterating over the elements of a tuple is faster compares to iterating over a list

In [1]:
# Empty tuple

In [3]:
tup1=()     #---> option1
print(tup1)

()

In [4]:
tup2 = tuple()
print(tup2)

()

###### Tuple is heterogenous

In [5]:
t=(1, 2.3,True,"Dby",[2,4])
t

(1, 2.3, True, 'Dby', [2, 4])

In [6]:
len(t)

5

###### Nested tuple (tuple within the tuple)

In [7]:
tup=(2.5,"durga", [2,7], (22,33,44))
tup

(2.5, 'durga', [2, 7], (22, 33, 44))

In [ ]:
# tuple indexing
tup[2]

In [13]:
tup[2][0]

2

In [14]:
tup[-1][1]

33

In [18]:
# tuple slicing
tup[0:100]

(2.5, 'durga', [2, 7], (22, 33, 44))

#### tuple methods

In [28]:
mytuple1=(1,2,3,4,5,4,6,4,7,4,8,4)
mytuple1

(1, 2, 3, 4, 5, 4, 6, 4, 7, 4, 8, 4)

In [ ]:
#tuple.count() -----> number of times item occured in the tuple

In [30]:
mytuple1.count(4)

5

In [31]:
# tuple index----> return the index postion of a tupe items

In [32]:
mytuple1.index(3)

2

#### tuple are immutable (cant replace item in a tuple)

In [34]:
tup = (1,2,3,4)          #through the typle error
tup[0] =5
print(t)

TypeError: 'tuple' object does not support item assignment

In [35]:
#Delete entire tuple

In [37]:
tup =(1,2,3,4,5)
del tup     # deleting entire tuple object is possible 
print(tup)

NameError: name 'tup' is not defined

##### Tuple sorting

In [39]:
mytuple = (14,3,2,1)
z = tuple(sorted(mytuple))      
print(z)

(1, 2, 3, 14)

In [40]:
#if we want to modify the tuple more then convert it to list

In [42]:
t=(14,3,2,1)
print(t)

l=list(t)
print(l)

(14, 3, 2, 1)
[14, 3, 2, 1]

In [43]:
# do the modification and again conver back to tuple

In [46]:
t=(1,2,3,4)
print(t)
print(id(t))

a = list(t)
del a[0]
t=tuple(a)
print(t)
print(id(t))

(1, 2, 3, 4)
2724330587296
(2, 3, 4)
2724330611776

#### interview question

In [59]:
# Can we add a value in a list within a tuple ?
t=(1,40,60,[20,15,5],80,100)
t[3].insert(0,66)
t[3].append(66)
t[3]
t

(1, 40, 60, [66, 20, 15, 5, 66], 80, 100)

In [62]:
# can we replace a value in a list within tuple ?
t=(1,40,60,[20,15,5],80,100)
t[3][1] = 55
t

(1, 40, 60, [20, 55, 5], 80, 100)

In [66]:
# can we remove a value in a list within a tuple?
t=(1,40,60,[20,15,5],80,100)
t[3].remove(20)
t

(1, 40, 60, [15, 5], 80, 100)